:host {
    margin: 0 10px;
}

img {
    height: 400px; 
    width: 400px; 
    border: 5px solid #8c8273;
    border-radius: 20px;
    object-fit: contain;
    background-color: black;
}

p {
    margin-top: 5px; 
    margin-bottom: 30px;
    font-size: 20px;
    color:#ff7272;
    font-weight: 800;
}