/* You can add global styles to this file, and also import other style files */
body {

    text-align: center;
    background-color: #181a1b;
    margin: 0 auto;
    padding-top: 30px;
    min-width: 430px;
}


/* 
    min-width = 400px + 2*margin of <cam-img> + 2*border of <img>
              = 400px + 2*10px + 2*5px
              = 430px
*/